.about{
    display:flex;
    align-items:center;
    padding: 30px;
    position: relative;
    top: 0;
}
.about__Left{
    flex:0.5;
    padding: 10px;
}
.about__Left h1{
    font-size: 34x;
    
}
.about__Left p{
    color:green;

}
.about__LeftContact{
    display:flex;
}
.about__LeftContact button, .btn-green{
    margin-right: 10px;
    background-color:green;
    color:white;
    width:150px;
    
    border:none;

}
.about__Right{
    flex:0.5;
    margin-left:40px
}

.about__Right img{
    width: 500px;
    height:auto;
    
}

@media screen and (max-width:425px){
.about{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
}   
.about__Left{
    flex:1
}
.about__Left p{
    /* width: 50%; */
}
.about__Right{
    flex:0;
    margin-left: 0;
}
.about__Right img{
    width: 300px;
    margin-top: 40px;
}
}