.how{
    padding-top:100px;
    padding-bottom:100px;
    background: #FAFAFE;
}

.how span{
color: green;
}
.how p{
    width:65%;
    color:grey;
    
}

.how__Cards{
    display:flex;
    /* flex-wrap:wrap; */
    padding-left: 100px;
}

.how__Card h2{
    color: green;
}
.bttn{
    height:50px;    
}

.m-r{
    margin-top:40px;
    margin-left:100px;
}

@media screen and (max-width:414px){
    .how center{
        margin-left: 0px;
    }
}